<html>
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/js/app/styles.css">
</head>
<body>
  <app-root>Loading...</app-root>
  <script src="/js/app/polyfills.js"></script>
  <script src="/js/app/vendor.js"></script>
  <script src="/js/app/app.js"></script>
</body>
</html>